.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.2em;
    margin-bottom: 2em;
    background-color: #333;
    color: #FFF;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.items{
    display: flex;
    list-style: none;
    gap: 1.5em;
}

.items a{
    color:#FFF;
    text-decoration: none;
    padding: 5px;
    transition: .4s;
    border-bottom: 2px solid transparent;
}

.items a:hover{
    border-color: #FFF;
}